* {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
}

#cabecalho{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    box-shadow: 0 0 15px -5px rgba(0,0,0,.7);
}

body{
    background-color: #010049;
}

.my_form{
    margin-top: 10rem;
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 0 15px -2px rgba(0,0,0,.7);
}


#imput_email{
    height: 38px;
}
#imput_senha{
    margin-top: 5%;
    height: 38px;
}


.btn-login{
    background-color: #02a85b;
}